@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;
    --primary: 214 100% 60%;
    --primary-foreground: 0 0% 100%;
    --border: 0 0% 20%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-white bg-black;
}

::selection {
  @apply bg-blue-500 text-white;
}
